$color-midnight-blue: #2C3E50;
$color-wet-asphalt: #34495E;
$color-turquoise: #1ABC9C;
$color-green-sea: #16A085;
$color-clouds: #ECF0F1;

@mixin box-shadow($height, $blurRadius) {
    -webkit-box-shadow: 0px $height $blurRadius 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px $height $blurRadius 0px rgba(0,0,0,0.5);
    box-shadow: 0px $height $blurRadius 0px rgba(0,0,0,0.5);
}

.jumbotron {
    background: $color-green-sea;
    color: $color-clouds;
    padding-bottom: 80px;

    p {
        color: $color-clouds;
        max-width: 75%;
        margin: 1em auto 2em;
    }

    .btn-primary {
        background: $color-midnight-blue;
        border-color: $color-midnight-blue;
    }

    .btn-primary:hover {
        background: $color-wet-asphalt;
    }

    .lang-logo {
        display: block;
        background: $color-wet-asphalt;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid $color-clouds;
    }
}

.navbar + .jumbotron {
    margin-top: 50px;
}

.jumbotron .lang-logo img {
    max-width: 100%;
}

.navbar {
    @include box-shadow(8px, 20px);
    background: $color-midnight-blue;
    border: 0;
}

.navbar-brand {

    padding: 0px;

    img {
        height: 100%;
    }
}

.navbar-nav {
    li {
        a.social-link {
            color: $color-clouds;
            padding-top: 11px;
            padding-bottom: 10px;

            &:hover {
                color: #FFFFFF;
                background: $color-turquoise;
            }

            &:focus {
                color: #ECF0F1;
            }
        }
    }
}
