$color-midnight-blue: #2C3E50;
$color-wet-asphalt: #34495E;
$color-turquoise: #1ABC9C;
$color-green-sea: #16A085;
$color-white: #FFFFFF;
$color-clouds: #ECF0F1;
$color-silver: #BDC3C7;
$color-concrete: #95A5A6;
$color-asbestos: #7F8C8D;

@mixin box-shadow($height, $blurRadius) {
    -webkit-box-shadow: 0px $height $blurRadius 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px $height $blurRadius 0px rgba(0,0,0,0.5);
    box-shadow: 0px $height $blurRadius 0px rgba(0,0,0,0.5);
}

body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background: url(3px-tile.png);
    background-color: $color-concrete;
    color: $color-clouds;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h1 {
        color: $color-white;
    }

    p {
        color: $color-white;
        max-width: 75%;
        margin: 0em auto;

        i {
            color: $color-turquoise;
        }
    }

    .btn-primary {
        background: $color-midnight-blue;
        border-color: $color-midnight-blue;
    }

    .btn-primary:hover {
        background: $color-wet-asphalt;
    }

    .lang-logo {
        display: block;
        background: $color-turquoise;
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin: 0px auto 50px;
        border: 3px solid $color-clouds;

        img {
            max-width: 100%;
            transition: max-width 0.3s, margin-left 0.3s, margin-top 0.3s;

            &:hover {
                max-width: 120%;
                margin-left: -10%;
                margin-top: -10%;
                transition: max-width 0.3s, margin-left 0.3s, margin-top 0.3s;
            }
        }
    }
}

.navbar + .jumbotron {
    margin-top: 50px;
}

.navbar {
    @include box-shadow(8px, 20px);
    background: $color-midnight-blue;
    border: 0;
}

.navbar-default {
    .navbar-nav {
        > li {
            > a {
                color: $color-clouds;
                transition: background 0.3s;

                &:hover {
                    color: $color-clouds;
                    background: $color-turquoise;
                    transition: background 0.3s;
                }

                &:focus {
                    color: $color-clouds;
                }
            }

            a.social-link {
                padding-top: 11px;
                padding-bottom: 10px;
            }
        }

        > .active {
            > a {
                color: $color-clouds;
                background-color: $color-turquoise;

                &:hover {
                    color: $color-white;
                    background-color: $color-turquoise;
                }
            }
        }

        > .open {
            > a {
                color: $color-clouds;
                background-color: $color-turquoise;

                &:focus {
                    color: $color-clouds;
                    background-color: $color-turquoise;
                }
            }
        }
    }

    .navbar-brand {

        background-color: $color-turquoise;
        padding: 0px;

        img {
            height: 100%;
        }

        &:hover {
            background-color: $color-turquoise;
        }
    }
}
