.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron p {
    color: #D9CCEE;
    max-width: 75%;
    margin: 1em auto 2em; }
  .jumbotron .btn-primary {
    background: #845AC7;
    border-color: #845AC7; }
  .jumbotron .btn-primary:hover {
    background: #7646C1; }
  .jumbotron .lang-logo {
    display: block;
    background: #E2231A;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }

.navbar + .jumbotron {
  margin-top: -20px; }

.jumbotron .lang-logo img {
  max-width: 100%; }
