.jumbotron {
  background: #16A085;
  color: #ECF0F1;
  padding-bottom: 80px; }
  .jumbotron p {
    color: #ECF0F1;
    max-width: 75%;
    margin: 1em auto 2em; }
  .jumbotron .btn-primary {
    background: #2C3E50;
    border-color: #2C3E50; }
  .jumbotron .btn-primary:hover {
    background: #34495E; }
  .jumbotron .lang-logo {
    display: block;
    background: #34495E;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #ECF0F1; }

.navbar + .jumbotron {
  margin-top: 50px; }

.jumbotron .lang-logo img {
  max-width: 100%; }

.navbar {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
  background: #2C3E50;
  border: 0; }

.navbar-brand {
  padding: 0px; }
  .navbar-brand img {
    height: 100%; }

.navbar-nav li a.social-link {
  color: #ECF0F1;
  padding-top: 11px;
  padding-bottom: 10px; }
  .navbar-nav li a.social-link:hover {
    color: #FFFFFF;
    background: #1ABC9C; }
  .navbar-nav li a.social-link:focus {
    color: #ECF0F1; }
