body {
  font-family: 'Roboto', sans-serif; }

.jumbotron {
  background: url(3px-tile.png);
  background-color: #7F8C8D;
  color: #ECF0F1;
  padding-top: 80px;
  padding-bottom: 20px; }
  .jumbotron h1 {
    color: #FFFFFF; }
  .jumbotron p {
    color: #ECF0F1;
    max-width: 75%;
    margin: 0em auto; }
    .jumbotron p i {
      color: #1ABC9C; }
  .jumbotron .btn-primary {
    background: #2C3E50;
    border-color: #2C3E50; }
  .jumbotron .btn-primary:hover {
    background: #34495E; }
  .jumbotron .lang-logo {
    display: block;
    background: #1ABC9C;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 2px solid #ECF0F1; }

.navbar + .jumbotron {
  margin-top: 50px; }

.jumbotron .lang-logo img {
  max-width: 100%; }

.navbar {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
  background: #2C3E50;
  border: 0; }

.navbar-default .navbar-nav > li > a {
  color: #ECF0F1; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
    background: #1ABC9C; }
  .navbar-default .navbar-nav > li > a:focus {
    color: #ECF0F1; }

.navbar-default .navbar-nav > li a.social-link {
  padding-top: 11px;
  padding-bottom: 10px; }

.navbar-default .navbar-nav > .active > a {
  color: #ECF0F1;
  background-color: #1ABC9C; }
  .navbar-default .navbar-nav > .active > a:hover {
    color: #FFFFFF;
    background-color: #1ABC9C; }

.navbar-default .navbar-nav > .open > a {
  color: #ECF0F1;
  background-color: #1ABC9C; }
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ECF0F1;
    background-color: #1ABC9C; }

.navbar-default .navbar-brand {
  background-color: #1ABC9C;
  padding: 0px; }
  .navbar-default .navbar-brand img {
    height: 100%; }
  .navbar-default .navbar-brand:hover {
    background-color: #1ABC9C; }
