<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img alt="Home" title="Home" src="/CA_logo.png">
        </a>
    </div>
    <div class="container">
        <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li>
                <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started with Java on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">Getting Started with Clojure on Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started with Scala on Heroku</a></li>
                    <li class="divider"></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>
                  </ul>
              </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
              <a class="social-link" title="My Resume" href="#"><i class="fa fa-file-text fa-2x"></i></a>
            </li>
            <li class="navbar-right">
              <a class="social-link" title="Stack Overflow" href="http://stackoverflow.com/users/2839411/privatestaticint"><i class="fa fa-stack-overflow fa-2x"></i></a>
            </li>
            <li class="navbar-right">
              <a class="social-link" title="Github" href="https://github.com/charliealbright"><i class="fa fa-github fa-2x"></i></a>
            </li>
            <li class="navbar-right">
                <a class="social-link" title="LinkedIn" href="https://www.linkedin.com/in/charlie-albright/"><i class="fa fa-linkedin fa-2x"></i></a>
            </li>
        </ul>
  </div>
</nav>
